@import "normalize.styl"
@import "nib"

color_A = #EA3546
color_B = #F9C80E
body
  background lightgray
.header
  display block
  background color_A
  overflow hidden
  color white
  padding 10px
  height 3em
  line-height 3em
  &-title
    width 220px
    float left
    margin 0
  &-name
  &-foto
    float right

.Prezi
  padding 2em
  text-align center
