@import "normalize.styl"
@import "nib"
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed)

color_A = #EA3546
color_B = #F9C80E
.header
  font-family 'Roboto Condensed', sans-serif
  display block
  background color_A
  overflow hidden
  color white
  padding 10px
  height 3em
  line-height 3em
  &-title
    width 220px
    float left
    margin 0
  &-name
  &-foto
  &-button
    float right

  &-foto
    height 3em
    width 3em
    margin 0 .5em 0 0
    img
      border-radius 1.5em
  &-button
    height 3rem
    width 6rem
    margin-left .5rem
    background color_B
    border none
    border-radius 1.5rem
    font-size 18px
    display none
    &.is-active
      display block

.Prezi
  padding 2em
  width 1000px
  text-align center
  margin-left -1200px
  &.is-active
    margin 0 auto
