@import "normalize.styl"
@import "nib"
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed)

color_A = #EA3546
.header
  font-family 'Roboto Condensed', sans-serif
  display block
  background color_A
  overflow hidden
  color white
  padding 10px
  height 3em
  line-height 3em
  &-title
    width 220px
    float left
    margin 0
  &-name
  &-foto
    float right

  &-foto
    height 3em
    width 3em
    margin 0 .5em 0 0
    img
      border-radius 1.5em

.Prezi
  padding 2em
  text-align center
